<!-- Slide -->
<div id="product-slide" class="container-fluid">
  <div class="container">
    <div id="slide-content" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
	<div class="item active" data-slide="1">
	  <a href="#">
	    <img src="/media/1.png" alt="Jimmy Choo">
	    <description>
	      <div class="price big">7.5折</div>
	      <h1>Jimmy Choo<br/>春夏季款特惠</h1>
	      <p>半年一度亲友热卖会，全场大部分服饰/鞋履/<br/>手袋等7.5折优惠。折扣码: “DISCOUNT</p>
	    </description>
	  </a>
	</div>
	<div class="item" data-slide="2">
	  <a href="#">
	    <img src="/media/2.png" alt="Anna Field">
	    <description>
	      <div class="price big">6折</div>
	      <h1>Anna Field<br/>秋冬季款特惠</h1>
	      <p>半年一度亲友热卖会，全场大部分服饰/鞋履/<br/>手袋等7.5折优惠。折扣码: “DISCOUNT</p>
	    </description>
	  </a>
	</div>
      </div>
    </div>
  </div>
  <!-- slide control -->
  <div id="slide-control">
    <div class="container">
      <div class="row">
	<a href="#">
	  <div id="slide-control-1" class="col-md-2 slide-control-item active" data-slide-to="0">
	    <div class="slide-control-header"></div>
	    <div class="slide-control-content"><h3>Jimmy Choo</h3><description>全场7.5折优惠</description>
	    </div>
	  </div>
	</a>
	<div id="slide-control-2" class="col-md-2 slide-control-item" data-slide-to="1">
	  <div class="slide-control-header"></div>
	  <div class="slide-control-content"><h3>Anna Field</h3><description>全场6折优惠</description>
	  </div>
	</div>
	<div id="slide-control-3" class="col-md-2 slide-control-item">
	  <div class="slide-control-header"></div>
	  <div class="slide-control-content"><h3>Jimmy Choo</h3><description>全场7.5折优惠</description>
	  </div>
	</div>
	<div id="slide-control-4" class="col-md-2 slide-control-item">
	  <div class="slide-control-header"></div>
	  <div class="slide-control-content"><h3>Anna Field</h3><description>全场6折优惠</description>
	  </div>
	</div>
	<div id="slide-control-5" class="col-md-2 slide-control-item">
	  <div class="slide-control-header"></div>
	  <div class="slide-control-content"><h3>Jimmy Choo</h3><description>全场7.5折优惠</description>
	  </div>
	</div>
	<div id="slide-control-6" class="col-md-2 slide-control-item">
	  <div class="slide-control-header"></div>
	  <div class="slide-control-content"><h3>Anna Field</h3><description>全场6折优惠</description>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
